/**
 * Font OpenDyslexic - Sederhana dan Efektif
 * Font akan di-download dari server lokal kita
 */

/* Deklarasi font kustom dari file lokal */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('/fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Penting untuk kinerja */
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/fonts/OpenDyslexic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Terapkan font ke seluruh aplikasi */
body {
    font-family: 'OpenDyslexic', 'Comic Sans MS', Arial, sans-serif;
}