/**
 * Font OpenDyslexic - Sesuai Artikel dengan Format Modern
 * Font akan di-download dari server lokal dengan multiple format
 */

/* Deklarasi font kustom Regular */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('/fonts/OpenDyslexic-Regular.woff2') format('woff2'),
         url('/fonts/OpenDyslexic-Regular.woff') format('woff'),
         url('/fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Penting untuk kinerja */
}

/* Deklarasi font kustom Bold */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('/fonts/OpenDyslexic-Bold.woff') format('woff'),
         url('/fonts/OpenDyslexic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Terapkan font ke seluruh aplikasi dengan !important untuk debug */
body, p, h1, h2, h3, h4, h5, h6, span, div {
    font-family: 'OpenDyslexic', 'Comic Sans MS', Arial, sans-serif !important;
}